/* woodmart notice */
.wd-notice.wd-info {
    display: none;
}

/* column hide */
.elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-4883594 {
    display: none;
}

/* 
woodmart arrow & dots slider or carouse styling */
.owl-next.wd-btn-arrow {
   color: #988600;
}
.owl-prev.wd-btn-arrow {
    color: #988600;	
}
.owl-next.wd-btn-arrow:hover {
	color:#988600;
}
.owl-prev.wd-btn-arrow:hover {
	color:#988600;
}
.owl-dots .owl-dot.active span {
    border-color: #988600;
    background-color: #988600;
}

/* jet slider kit */
.jet-listing-grid__slider .jet-slick-dots li.slick-active, .jet-listing-grid__slider .jet-slick-dots li:hover {
    background: #988600;
}


/* Post Old And Newer Styling */
span.post-navigation__arrow-wrapper.post-navigation__arrow-next {
    background-color: #ff000000;
    height: 10px;
    width: 46px;
    border-radius: 47px;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 38px;
    padding-left: 14px;
    border-style: solid;
    border: solid;
    margin-left: 13px;
}


span.post-navigation__arrow-wrapper.post-navigation__arrow-prev {
    background-color: #ff000000;
    height: 10px;
    width: 46px;
    border-radius: 47px;
    padding-top: 3px;
    padding-right: 73px;
    padding-bottom: 38px;
    padding-left: 14px;
    border-style: solid;
    border: solid;
    margin-right: 22px;
}



/* kategori post styling */
.elementor-element.elementor-element-1ce6f19.elementor-widget.elementor-widget-shortcode {
    background-color: #d6084d;
    padding: 5px;
    border-radius: 0px;
    width: auto;
}


/* Tag Cloud Styling */
.cc-class-singgle .cc-list a {
    position: relative;
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 25px;
    min-width: 70px;
    border: 2px solid #F1F1F1;
    color: #212121;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

.cc-class-singgle {
    max-width: 100%;
}

.cc-class-singgle .cc-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0;
}

.cc-class-singgle .cc-list a:hover {
	color:red;
}

/* tombol search shop styling */
button.wp-block-search__button.wp-element-button {
    border-radius: 50px;
}

/* global page title styling */
.page-title-default {
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* deskripsi produk styling */
.tabs-layout-accordion .wd-scroll .wd-scroll-content {
    max-height: none;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 400px;
}

/* untuk breadcumb singgle product */
nav.woocommerce-breadcrumb {
    font-family: poppins;
    font-size: 15px;
    margin-bottom: 25px;
}

.term-description{
	display: none;
}